@{
        #if DEBUG
                }

@page "/mathexample"

<PageTitle>Math Example</PageTitle>

<h1>Math Example</h1>

<h3>Equation</h3>

<Latex Value="\frac{2a}{b+3}" />
<Latex Value="\frac{2a}{b+3}" Display="false" />

<br />

<button class="btn-primary">
    <Latex Value="\frac{g}{mL}" />
</button>

<Latex Value="x + 2 \sqrt{x} + 1 = (\sqrt x+1)^2" />

@{
#endif
}