@{
#if DEBUG
                }

@page "/mathexample"

<PageTitle>Math Example</PageTitle>

<h1>Math Example</h1>

<h3>Equation</h3>

<Latex Value="\frac{2a}{b+3}" />
<Latex Value="\frac{2a}{b+3}" Display="false" />

<br />

<button class="btn-primary">
    <Latex Value="\frac{g}{mL}" />
</button>

<Latex Value="x + 2 \sqrt{x} + 1 = (\sqrt x+1)^2" />
<Latex Value="@latex1" Display="false" />

@{
#endif
}

@code
{
    string latex1 = @"
\begin{align*}
y = y(x,t) &= A e^{i\theta} \\
&= A (\cos \theta + i \sin \theta) \\
&= A (\cos(kx - \omega t) + i \sin(kx - \omega t)) \\
&= A\cos(kx - \omega t) + i A\sin(kx - \omega t)  \\
&= A\cos \Big(\frac{2\pi}{\lambda}x - \frac{2\pi v}{\lambda} t \Big) + i A\sin \Big(\frac{2\pi}{\lambda}x - \frac{2\pi v}{\lambda} t \Big)  \\
&= A\cos \frac{2\pi}{\lambda} (x - v t) + i A\sin \frac{2\pi}{\lambda} (x - v t)
\end{align*}
";
}