@page "/suma2numeros"
@inject INaturalNumberExplain explain
@using Mates.Common.Interfaces
@using Mates.Common.Result
@using Mates.Shared.ViewModels

<PageTitle>Suma 2 Numeros</PageTitle>

<h1>Suma 2 Numeros</h1>
<EditForm Model="_vm" OnValidSubmit="Submit">
    <div class="container">
        <div class="row">
            <div class="col">
                <label>
                    Numero 1:
                    <InputText @bind-Value="_vm!.Numero1" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>
                    Numero 2:
                    <InputText @bind-Value="_vm!.Numero2" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit">Resolver</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
               @*  <Result1>
                    <a>Prueba</a>
                    <Result2></Result2>
                </Result1> *@
                @* <DynamicComponent Type="componentType" Parameters="parameters" /> *@
            </div>
        </div>
    </div>
</EditForm>

@code {
    Suma2NumerosViewModel? _vm;
    IResult? _Result;

    /*
    private Type componentType = typeof(Result1);
    private Dictionary<string, object> parameters = new()
    {
        [nameof(Result1.ChildContent)] = new RenderFragment(@<p>Welcome to your new app!</p>)
    };
    */

    protected override void OnInitialized() => _vm ??= new();

    void Submit()
    {
    }
}
